/*
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }*/
body{
    background: url(public/tri.svg);
}

*{
    margin: 0px;
    padding: 0px;
/*    border: 1px solid black;*/
}



header{
    display: fixed;
    width: calc(100% - 250px);
}
header div{
    display: inline-block;
    height: 100%;
}
header form {
    display: inline-block;
    margin:0;
    padding: 0;
}
header form input {
}
header button{
    height: 100%;
    background: white;
    padding: 0.5em;
    border: 0;
    width:65px;

}

/* Main Section - the tictactoe board */
main{
    position:absolute;
    width: calc(100% - 250px);
    height: calc(100% - 250px);
    display: flex;
}
#tictactoe{
    margin: auto;
    vertical-align: middle;
    width: 300px;
    height: 300px;
}

tr {
    padding: 1px;
    height: 100px;
}
td{
    text-align: center;
}
.xo {
    border: 3px solid rgba(255,255,255,0);
    opacity: .90;
    background-clip: content-box;
    background: #fff;
    margin: 3px;
    width: 100px;
    height: 100px;
}

fa {
    width:100%;
    height:100%;   
}


.xo:hover {
    background: #eee;
    cursor: pointer;
}

 .serverMove {
    font-family: "FontAwesome";
    content: "\f00d";
 }

 .clientMove {
 	/*background: green;*/
 }


/* Chat window */
#chat-sidecart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#chat-msgbox{
    list-style-type: none;
    padding: 0px;
}

.chat-msg{
    overflow-y: auto;
    overflow-x: auto;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    padding: 10px
}

#chat-input {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 3em;
    border-top: 1px solid #eee;
}

#chat-input input {
    position: absolute;
    bottom:0;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: calc(70%);
    border: 0;
    padding: .5em 1.5em;
}

#chat-input input:focus {
    background: #eee;
    outline:0;
}

#chat-input button {
    position: absolute;
    padding: .5em 1.5em;

    color: white;
    bottom:0px;
    right: 0px;
    height: 100%;
    width: calc(30%);
    background: rgb(233,110,80);
    border:0;
}

/*Player's Detail*/
#detail{
    position: fixed;
    top: 70%;
    bottom: 5px;
    width: 40%;
    left: 15%;
    right: 40%;
    font-size: 18;
    margin-left: 10;
}


